<div class="container">
    <h4>{{getString()}}</h4>
    <router-outlet>
        <nav class="navbar" style="background-color: #e3f2fd;">
            <ul class="nav nav-tabs">
                <li>
                    <a class="nav-link active" routerLink="/home">home🏠</a>
                </li>
                <li>
                    <a class="nav-link active" routerLink="/login">login➕</a>
                </li>
                <li>
                    <a class="nav-link active" routerLink="/students">Students List📄</a>
                </li>
                <li>
                    <a class="nav-link active" routerLink="/studentsDetails/1">Students Details🖋</a>
                </li>
                <li>
                    <a class="nav-link active" routerLink="/ghh">error🔌</a>
                </li>
                <li>
                    <a class="nav-link active" routerLink="/settings">Settings📢</a>
                </li>
                <li>
                    <a class="nav-link active" routerLink="/observable">observable⏰</a>
                </li>
                <li>
                    <a class="nav-link active" routerLink="/directive">Change the side⬅</a>
                </li>
            </ul>
        </nav>
    </router-outlet>
    <br>
    <br>
    <br>
</div>