<!-- <p>favorites works!</p> -->
<router-outlet>
        <nav  class="navbar navbar-expand-lg bg-body-tertiary">
            <ul class="nav nav-tabs">
                <li>
                    <a class="nav-link active" routerLink="/settings/profile">Link To profile👨</a>
                </li>
                <li>
                    <a class="nav-link active" routerLink="/settings/favorite">Link To favorites♥</a>
                </li>
                <li>
                    <a class="nav-link active" routerLink="/settings/account">Link To account🧮</a>
                </li>
            </ul>
        </nav>
    </router-outlet>
<p class="btn btn-primary position-relative"> 
    favorites favorites favorites favorites favorites favorites favorites favorites favorites favorites favorites favorites
      <span class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-circle bg-danger p-2"><span class="visually-hidden"></span></span>
 favorites favorites favorites favorites favorites favorites favorites favorites favorites favorites favorites favorites
</p>
